.profile-section {
  padding-left: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile {
  height: 100%;
  width: 100%;
  margin: 50px 60px;
}
.avatar-img-1 {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
.profile-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 150px;
  align-items: center;
}
.profile-edit-icon{
  display: none;
}
.profile-details {
  display: flex;
  flex-direction: column;
}
.profile-username {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profile-username-name {
  font-size: 28px;
}
.profile-username-btn {
  font-size: 16px;
  padding: 6px;
  background-color: #ccc;
  cursor: pointer;
  outline: none;
  border: #999797;
  border-radius: 5px;
}
.followers {
  display: flex;
  width: 350px;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
}
.followers p {
  font-size: 20px;
  font-weight: 500;
}
.profile-images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin-top: 50px;
}
.profile-img {
  height: 230px;
  width: 280px;
}
.sidebar--1{
  display: block;
}
.sidebar--2{
  display: none;
}

@media screen and (max-width: 761px) {
  .sidebar--1{
    display: block;
  }
  .sidebar--2{
    display: none;
  }
  .avatar-img-1{
    height: 64px;
    width: 64px;
  }
  .profile-section{
    padding-left: 180px;
  }
  .profile-username{
    gap: 20px;
  }
  .profile-img{
    width: 180px;
    height: 140px;
  }
  .profile-edit{
    gap: 0;
  }
  .profile-username-btn{
    display: block;
  }
  .profile-edit-icon{
    display: none;
  }
  .profile-username-name{
    font-size: 20px;
    margin-left: 10px;
  }
  .followers{
    gap: 30px;
  margin-left: 10px;
  }
  .followers p{
    font-size: 16px;
  }
}

@media screen and (max-width: 586px) {
  .sidebar--1{
    display: none;
  }
  .sidebar--2{
    display: block;
  }
  .avatar-img-1{
    height: 64px;
    width: 64px;
  }
  .profile-section{
    padding-left: 30px;
  }
  .profile-img{
    width: 140px;
    height: 100px;
  }
  .profile-username-btn{
    display: none;
  }
  .profile-edit{
    gap: 0;
  }
  .profile-edit-icon{
    display: block;
  }
  .profile-username-name{
    font-size: 16px;
    margin-left: 10px;
  }
  .profile-edit{
    gap: 150px;
  }
  .followers{
    gap: 10px;
  margin-left: 10px;
  }
  .followers p{
    font-size: 14px;
  }
}

@media screen and (max-width: 361px) {
  .sidebar--1{
    display: none;
  }
  .sidebar--2{
    display: block;
  }
  .avatar-img-1{
    height: 64px;
    width: 64px;
  }
  .profile-section{
    padding-left: 40px;
  }
  .profile-img{
    width: 130px;
    height: 90px;
  }
  .profile-edit{
    gap: 0;
  }
  .profile-username-btn{
    display: none;
  }
  .profile-edit-icon{
    display: block;
  }
  .profile-username-name{
    font-size: 16px;
    margin-left: 10px;
  }
  .followers{
    gap: 10px;
  margin-left: 10px;
  }
  .followers p{
    font-size: 14px;
  }
}