.home {
  display: flex;
  justify-content: center;
  /* margin-left: 44px; */
  height: 100vh;
  overflow-y: auto;
  padding-top: 40px;
}

.home-posts {
  max-width: 630px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 470px;
}



@media screen and (max-width: 731px) {
  .sidebar-2{
    display: none;
  }
  .sidebar-1{
    display: block;
  }
  .home{
  margin-left: 80px;
}
  .posts{
width: 350px;
}
}

@media screen and (max-width: 681px) {
  .sidebar-2{
    display: none;
  }
  .sidebar-1{
    display: block;
  }
  .suggestion{
    display: none;
  }
}

@media screen and (max-width: 586px) {
  .sidebar-2{
    display: none;
  }
  .sidebar-1{
    display: block;
  }
  .suggestion{
    display: none;
  }
  .posts{
    width: 350px;
  }
}

@media screen and (max-width: 450px){
  .sidebar-1{
    display: none;
  }
  .sidebar-2{
    display: block;
    margin: 20px;
  }
  .home{
    margin-left: 20px;
  }
  .suggestion{
    display: none;
  }
  .posts{
    width: 280px;
  }
}

@media screen and (max-width: 361px){
.sidebar-2{
  width: 90px;
}
.suggestion{
  display: none;
}
.posts{
  width: 250px;
}
}