.home {
  display: flex;
  justify-content: center;
  margin-left: 244px;
/* align-items: center; */
  height: 100vh;
  overflow-y: auto;
  padding-top: 40px;
}

.home-posts {
  max-width: 630px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 470px;
}

.sidebar-2{
display: none;
}

@media screen and (max-width: 450px){
  .sidebar-1{
    display: none;
  }
  .sidebar-2{
    display: block;
    margin: 20px;
  }
  .home{
    margin-left: 20px;
  }
  .suggestion{
    display: none;
  }
}
@media screen and (max-width: 361px){
.sidebar-2{
  width: 90px;
}
}