.home {
  display: flex;
  justify-content: center;
  margin-left: 244px;
  height: 100vh;
  overflow-y: auto;
  padding-top: 40px;
}

.home-posts {
  max-width: 630px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.posts {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 470px;
}

.sidebar-2{
/* visibility: hidden; */
display: none;
}