.explore-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.explore {
  flex: 1;
  margin: 50px 50px 50px 244px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.explore-input {
  width: 400px;
  height: 28px;
  font-size: 16px;
  padding: 8px 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.explore-btn {
  height: 30px;
  width: 45px;
  background-color: white;
  border: #ccc 1px solid;
  outline: none;
  border-radius: 8px;
  margin-bottom: 70px;
}
.explore-img {
  overflow: hidden;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px 1px;
}

.explore-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  /* aspect-ratio: 1/1; */
}
