.explore-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.explore {
  flex: 1;
  /* margin: 50px 50px 50px 244px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.explore-form{
  margin-top: 20px;
  padding-top: 30px;
  display: flex;
}
.explore-input {
  width: 100%;
  max-width: 400px;
  height: 28px;
  font-size: 16px;
  padding: 8px 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}
.explore-btn {
  height: 30px;
  width: 100%;
  max-width: 45px;
  background-color: white;
  border: #ccc 1px solid;
  outline: none;
  border-radius: 8px;
  margin-bottom: 20px;
}
.explore-img {
  overflow: hidden;
  width: 100%;
  display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 1.5px;
}

.explore-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 300px;
  /* aspect-ratio: 1/1; */
}
.sidebar-2{
  display: none;
  width: 30px;
}
.sidebar-1{
  display: block;
  width: 244px;
}

@media screen and (max-width: 761px) {
.sidebar-1{
  display: none;
}
.sidebar-2{
  display: block;
}
.explore{
  margin-left: 50px;
}
.searched-images{
  height: 250px;
  width: 150px;
}
}

@media screen and (max-width: 586px) {
.sidebar-1{
  display: none;
}
.sidebar-2{
  display: block;
}
.searched-images{
  width:150px;
  height: 250px;
}
.explore{
  margin-left: 45px;
}
}

@media screen and (max-width: 511px) {
.explore{
  margin-left: 50px;
}
.searched-images{
  width: 140px;
  height: 220px;
}
}

@media screen and (max-width: 441px) {
  .sidebar-2{
    display: block;
  }
  .searched-images{
    width: 150px;
    height: 190px;
  }
  .explore{
    margin-left: 5px;
  }
  }

@media screen and (max-width: 361px) {
  .sidebar-1{
    display: none;
  }
  .sidebar-2{
  width: 30px;
  display: block;
  }
  .searched-images{
      width: 130px;
      height: 190px;
  }
}

