.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100vh;
  max-width: 200px;
  padding: 0 70px 0 20px;
  border-right: 1px rgb(220, 216, 216) solid;
  position: sticky;
}
.sidebar-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 15px;
  height: 400px;
}
.sidebar-option {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 15px;
  letter-spacing: 0.2px;
}
.dropup-menu {
  display: inline-block;
  position: relative;
}
.menu-item {
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 120px;
  padding: 8px;
  text-align: center;
}
.menu-item a {
  display: block;
  color: black;
  font-weight: bold;
  padding: 8px 0;
}
.menu-item a:hover {
  background-color: #ddd;
}
.dialog{
  height: 700px;
  width: 500px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}